doctype html
html
  head
    title infinite garden
    link(rel='stylesheet' href='stylesheets/bootstrap.css')
    link(rel='stylesheet' href='stylesheets/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
  body.container-fluid(id='bubble-parent')
    canvas(id='canvas')
    block content
    //- script(src='scripts/floats.js')
