doctype html
html(ng-app='Auth')
  head
    title FlyBeats
    link(rel='stylesheet' href='stylesheets/bootstrap.css')
    link(rel='stylesheet' href='stylesheets/font-awesome.css')
    link(rel='stylesheet' href='stylesheets/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(src='/scripts/angular/angular.js')
    script(src='/scripts/angular-messages/angular-messages.js')
    script(src='scripts/server_app.js')
    script(src='scripts/controllers/register.js')
  body.container-fluid
    include ./partials/header.pug
    block content
    include ./partials/footer.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.js')
    script(src='scripts/space.js')
