doctype html
html(ng-app='Auth')
  head
    title infinite garden
    link(rel='stylesheet' href='stylesheets/bootstrap.css')
    link(rel='stylesheet' href='stylesheets/font-awesome.css')
    link(rel='stylesheet' href='stylesheets/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(src='scripts/angular.js')
    script(src='scripts/angular-messages.js')
    script(src='scripts/server_app.js')
    script(src='scripts/controllers/register.js')
    script(src='scripts/controllers/login.js')
  body.container-fluid
    block content
