body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  position: absolute;
  left: 0;
}

.form-container {
  color: #EC9B07;
  z-index: 1;
  background-color: white;
  padding: 10px 25px 25px 25px;
  margin-top: 100px;
  border-radius: 5px;
}

header {
  background-color: white;
  padding: 15px 0;
}

.logo {
  margin-left: 15px;
  width: 250px;
}

.btn {
  margin-top: 5px;
  width: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
}
